/* color-x */
.color_x{
  background: none;
}
/* zfold */
.color1{
  background-color: #001455;
}
.color2{
  background-color: #111;
}
.color3{
  background-color: #c9c9c9;
}
/* s25u */
.color4{
  background-color: #111;
}

.color5{
  background-color: #2f2f2f;
}

.color6{
  background-color: #818181;
}
.color7{
background-color: #C9CFE1;
}
.color8{
background-color: #D5D5D5;
}
.color9{
background-color: #B3D0A5;
}
.color10{
background-color: #DDA7CB;
}
/* s25 */
.color11{
  background-color: #C9CFE1;
}
.color12{
  background-color: #2F2F2F;
}
.color13{
  background-color: #001455;
}
.color14{
  background-color: #99CEB9;
}

/* s25e */
.color15{
  background-color: #C9CFE1;
}
.color16{
  background-color: #E2E2E2;
}
.color17{
  background-color: #111111;
}

/* zflip */
.color18{
  background-color: #002499;
}
.color19{
  background-color: #F96C6E;
}
.color20{
  background-color: #444444;
}
.color21{
  background-color: #99CEB9;
}

/* s25fe */
.color22{
  background-color: #001455;
}
.color23{
  background-color: #C9CFE1;
}
.color24{
  background-color: #111111;
}
.color25{
  background-color: #D8D8D8;
}

/* a36 */
.color26{
  background-color: #D6D7EE;
}
.color27{
  background-color: #4B4444;
}
.color28{
  background-color: #394D91;
}

/* case */

.color29{
background-color: #d5d5d5;}
.color30{
background-color: #F3C774;}
.color31{
background-color: #111111;}
.color32{
background-color: #AAAAAA;}
.color33{
background-color: #BBC4D3;}
.color34{
background-color: #A46B00;}
.color35{background-color: #111111;}
.color36{background-color: #AAAAAA;}
.color37{background-color: #A0A9C4;}
.color38{background-color: #B3D0A5;}
.color39{background-color: #B43131;}
.color40{background-color: #2B4199;}
.color41{background-color: #111111;}
.color42{background-color: #C9CFE1;}
.color43{background-color: #D5D5D5;}
.color44{background-color: #111111;}
.color45{background-color: #C9CFE1;}
.color46{background-color: #D5D5D5;}

/* accessoties_item */
.color47{background-color: #717376;}
.color48{background-color: #D5D5D5;}
.color49{background-color: #2E2E2E;}
.color50{background-color: #D5D5D5;}
.color51{background-color: #D5D5D5;}
.color52{background-color: #303030;}
.color53{background-color: #E0CA48;}
.color54{background-color: #1E1E1E;}
.color55{background-color: #D5D5D5;}
