/* ==============================================
   TITLE BANNER (#title_banner)
   ============================================== */

#title_banner {
  width: 100%;
  height: 270px;
}

#title_banner .container { overflow: hidden; }

#title_banner .gradient {
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, #2E69C9, #2E69C9, #33e4e1, #33e4e1);
  box-shadow:
    inset 0 -50px 40px 0 rgb(255,255,255),
    inset 0 -30px 20px 0   rgb(255,255,255) ;
}

#title_banner .container .title {
  display: flex;
  align-items: flex-end;
}

#title_banner .container .title h1 {
  line-height: 1.2;
  font-size: 70px;
  background: linear-gradient(to right, #2E69C9, #26D5D1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title_banner .container .title img {
  width: 71px;
  height: 78px;
}

#title_banner .container .list {
  display: flex;
  margin-top: 80px;
  gap: 40px;
}

#title_banner .container .list li a {
  font-size: 17px;
  color: #555;
}

#title_banner .container .list li a.on {
  font-weight: bold;
  color: #111;
  text-decoration-line: underline;
  text-decoration-color: #1a1a1a;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

/* ==============================================
   섹션 공통
   ============================================== */

.section {
  height: 586px;
  margin: 100px 0 0;
  position: relative;
  overflow: hidden;
}

.list-title {
  margin: 0 0 35px;
  color: #666;
  font-size: 28px;
}

.list-title b {
  background: linear-gradient(to right, #2E69C9, #26D5D1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt_box {
  display: flex;
  flex-direction: column;
  margin: 20px 35px;
  gap: 15px;
}
.txt, .card-txt{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 35px 35px 0;
  gap: 10px;
}
.sub {
  color: #B54C00;
  font-size: 12px;
}

.name {
  font-size: 20px;
  height: 50px;
  white-space: nowrap;
  margin-bottom: 30px;
}

.price {
  font-size: 15px;
  font-weight: 300;
}

.card {
  width: 20vw;
  height: 49vh;
  background-color: #f6f6f6;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,.1);
  overflow: hidden;
}

.card2 {
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 17vw;
  height: 36vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.card img{
  height: auto;
  margin: 40px auto auto;
}
.itme-name{
  font-size: 27px;
  white-space: nowrap;
}
.box{
  display: flex;
  gap: 30px;
  position: absolute;

}
.color-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.color {
  margin: 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/* ==============================================
   PHONE (#phone)
   ============================================== */

#phone .container { height: 100%; }

#phone .card img {
  margin: 48px 0 10px;
}

#phone .card:nth-child(3) img { margin-top: 10px; }

#phone .container .box .card .color-list { margin: 0; }

#phone .container .box .card .info {
  margin: 30px 35px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#phone .container .box .card .info a {
  font-size: 15px;
  padding: 10px 20px;
  background-color: #111;
  color: #fff;
  border-radius: 100px;
}

/* ==============================================
   ACCESSORIES (#accessories)
   ============================================== */

#accessories .box .card:first-child h2 {
  margin: 55px 35px;
}

/* ==============================================
   SERVICE (#service)
   ============================================== */


#service .txt h2 {
  display: flex;
  gap: 10px;
}
#service img{
  margin: 0;
  width: 100%;
  height: auto;
}
#service .container .box .card:nth-child(1) .txt img {
  width: 37px;
  height: 40px;
}

#service .container .box .card:nth-child(2) .txt img {
  width: 49px;
  height: 37px;
}

#service .card .txt p {
  font-size: 14px;
  font-weight: 400;
}

#service .box .card.background {
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0)),
              url(../subimg/section_4.png) center / cover;
  justify-content: start;
}

#service .card.background .txt h2 { color: #fff; }
#service .card.background .txt p  { color: #fff; }

/* ==============================================
   POPUP CARD (#popup_card)
   ============================================== */

#popup_card .card{
  height: 450px;
  position: relative;
  overflow: hidden;
  margin-bottom: 124px;
}

#popup_card .card b {
  font: bold 14px/1;
  color: #444;
}

#popup_card .card strong {
  font: bold 22px/1.2;
}

#popup_card .card span {
  font-size: 12px;
  font-weight: normal;
  color: #666;
}
#popup_card .card:nth-child(2) img {
  width: 80%;
}
#popup_card .card:nth-child(5) img {
  margin-top: 0;
  width: 90%;
}

#popup_card .card i {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
}

/* ==============================================
   MEDIA QUERIES
   ============================================== */

@media screen and (max-width: 1200px) {

}
 
/* ── 1024px ── */
@media screen and (max-width: 1024px) {

}
 
/* ── 768px ── */
@media screen and (max-width: 768px) {
  main{padding-top: 52px; padding: 52px 10px 0;}
  #title_banner { height: 150px; }
  #title_banner .gradient { height: 60px; }
  #title_banner .container .title h1 { font-size: 38px; }
  #title_banner .container .title img { width: 24px; height: 26px; }
  #title_banner .container .list { margin-top: 22px; gap: 20px; }
  #title_banner .container .list li a { font-size: 15px;}

  .section{height: 350px; margin: 50px 0 0; overflow: hidden;}
  .list-title { font-size: 16px; margin: 0 0 14px; letter-spacing: -1%;}
  .box{gap: 10px;}
  .card  { width: 235px; height: 310px;}
  .card2 { width: 230px; height: 250px; }
  .name { font-size: 12px; height: 30px; margin: 0;}
  .price { font-size: 11px;}
  .txt_box { margin: 10px; gap: 4px; line-height: 1.2;}
  .sub{font-size: 8px;}
  .card img{margin-bottom: 10px;}
  .txt{display: flex; flex-direction: column; align-items: start;  justify-content: center; margin: 10px 15px 0; gap: 5px;}
  #popup_card .card{height: 300px;}

  #phone .container .box .card {gap: 15px;}
  #phone .container .box .card .txt h1 { font-size: 16px; }
  #phone .container .box .card img { width: 100%; height: auto; flex: 1; object-fit: contain; min-height: 0; margin: 10px 0; }
  #phone .container .box .card:nth-child(3) img{margin: 0px;}
  #phone .container .box .card .info { margin: 15px 15px 0; }
  #phone .container .box .card .info a { font-size: 11px; padding: 6px 12px; }

  #accessories .box .card:first-child h2 { font-size: 14px; margin: 40px 20px; }

  #service .txt h2 { font-size: 15px; }
  #service .container .box .card:nth-child(1) .txt img { width: 18px; height: 20px; }
  #service .container .box .card:nth-child(2) .txt img { width: 24px; height: 18px; }
  #service .container .box .card .txt { margin: 2.5vw 0 0 3.6vw; }
  #service .box .card article { flex: 1; display: flex; align-items: center; justify-content: center; overflow: hidden; min-height: 0; }

  #popup_card .card2 img {
  margin: auto;
  }
  #popup_card{height: 370px; margin-bottom: 20px;}
  #popup_card .card{height: 280px; }
  #popup_card .card .card-txt { margin: 3.6vw 3.6vw 0; gap: 1.5vw; }
  #popup_card .card b      { font-size: 11px; }
  #popup_card .card strong { font-size: 15px; }
  #popup_card .card span   { font-size: 9px; }
  #popup_card .card i { font-size: 22px; bottom: 3vw; right: 3vw; }
}
 
/* ── 657px ── */
@media screen and (max-width: 657px) {
  main{padding-top: 52px;}
  #title_banner { height: 150px; }
  #title_banner .gradient { height: 60px; }
  #title_banner .container .title h1 { font-size: 28px; }
  #title_banner .container .title img { width: 24px; height: 26px; }
  #title_banner .container .list { margin-top: 22px; gap: 15px; }
  #title_banner .container .list li a { font-size: 14px;}

  .section{height: 350px; margin: 40px 0 0; overflow: hidden;}
  .list-title { font-size: 16px; margin: 0 0 14px; letter-spacing: -1%;}
  .box{gap: 10px;}
  .card  { width: 235px; height: 310px;}
  .card2 { width: 230px; height: 250px; }
  .name { font-size: 12px; height: 30px; margin: 0;}
  .price { font-size: 11px;}
  .txt_box { margin: 10px; gap: 4px; line-height: 1.2;}
  .sub{font-size: 8px;}
  .card img{margin-bottom: 10px;}
  .txt{display: flex; flex-direction: column; align-items: start;  justify-content: center; margin: 10px 15px 0; gap: 5px;}
  #popup_card .card{height: 300px;}

  #phone .container .box .card {gap: 15px;}
  #phone .container .box .card .txt h1 { font-size: 16px; }
  #phone .container .box .card img { width: 100%; height: auto; flex: 1; object-fit: contain; min-height: 0; margin: 10px 0; }
  #phone .container .box .card:nth-child(3) img{margin: 0px;}
  #phone .container .box .card .info { margin: 15px 15px 0; }
  #phone .container .box .card .info a { font-size: 11px; padding: 6px 12px; }

  #accessories .box .card:first-child h2 { font-size: 14px; margin: 40px 20px; }

  #service .txt h2 { font-size: 15px; }
  #service .container .box .card:nth-child(1) .txt img { width: 18px; height: 20px; }
  #service .container .box .card:nth-child(2) .txt img { width: 24px; height: 18px; }
  #service .container .box .card .txt { margin: 2.5vw 0 0 3.6vw; }
  #service .box .card article { flex: 1; display: flex; align-items: center; justify-content: center; overflow: hidden; min-height: 0; }

  #popup_card .card2 img {
  margin: auto;
  }
  #popup_card{height: 370px; margin-bottom: 20px;}
  #popup_card .card{height: 280px; }
  #popup_card .card .card-txt { margin: 3.6vw 3.6vw 0; gap: 1.5vw; }
  #popup_card .card b      { font-size: 11px; }
  #popup_card .card strong { font-size: 15px; }
  #popup_card .card span   { font-size: 9px; }
  #popup_card .card i { font-size: 22px; bottom: 3vw; right: 3vw; }
}
/* ── 481px ── */
@media screen and (max-width: 481px) {
  main{padding-top: 50px;}

  #title_banner { height: 110px; }
  #title_banner .gradient { height: 50px; box-shadow:
    inset 0 -30px 30px 0 rgb(255,255,255),
    inset 0 -20px 20px 0   rgb(255,255,255) ;}
  #title_banner .container .title h1 { font-size: 22px; }
  #title_banner .container .title img { width: 24px; height: 26px; }
  #title_banner .container .list { margin-top: 22px; gap: 12px; }
  #title_banner .container .list li a { font-size: 10px; letter-spacing: -1%;}

  .list-title { font-size: 13px; margin: 0 0 14px; letter-spacing: -1%;}
  .card  { width: 235px; height: 310px;}
  .card2 { width: 230px; height: 250px; }
  .name { font-size: 12px; height: 30px; margin: 0;}
  .price { font-size: 11px;}
  .txt_box { margin: 10px; gap: 4px; line-height: 1.2;}
  .section{height: 343px; margin: 30px 0 0; overflow: hidden;}
  .sub{font-size: 8px;}
  .card img{margin-bottom: 10px;}
  .txt{display: flex; flex-direction: column; align-items: start;  justify-content: center; margin: 15px 15px 0; gap: 5px;}
  .box{gap: 10px;}
  #popup_card .card{height: 300px;}

  #phone .container .box .card {gap: 15px;}
  #phone .container .box .card .txt h1 { font-size: 16px; }
  #phone .container .box .card img { width: 100%; height: auto; flex: 1; object-fit: contain; min-height: 0; margin: 10px 0; }
  #phone .container .box .card:nth-child(3) img{margin: 0px;}
  #phone .container .box .card .info { margin: 15px 15px 0; }
  #phone .container .box .card .info a { font-size: 11px; padding: 6px 12px; }

  #accessories .box .card:first-child h2 { font-size: 14px; margin: 40px auto; text-align: center;}

  #service .txt h2 { font-size: 15px; }
  #service .container .box .card:nth-child(1) .txt img { width: 18px; height: 20px; }
  #service .container .box .card:nth-child(2) .txt img { width: 24px; height: 18px; }
  #service .container .box .card .txt { margin: 2.5vw 0 0 3.6vw; }
  #service .box .card article { flex: 1; display: flex; align-items: center; justify-content: center; overflow: hidden; min-height: 0; }

  #popup_card .card2 img {
  margin: auto;
  }
  #popup_card{height: 370px; margin-bottom: 20px;}
  #popup_card .card{height: 280px; }
  #popup_card .card b      { font-size: 11px; }
  #popup_card .card strong { font-size: 15px; }
  #popup_card .card span   { font-size: 9px; }
  #popup_card .card i { font-size: 22px; bottom: 3vw; right: 3vw; }
}
/* ── 391px ── */
@media screen and (max-width: 391px) {
  main{padding-top: 48px;}
  #title_banner { height: 110px; }
  #title_banner .gradient { height: 40px; box-shadow:
    inset 0 -30px 30px 0 rgb(255,255,255),
    inset 0 -20px 20px 0   rgb(255,255,255) ;}
  #title_banner .container .title h1 { font-size: 22px; }
  #title_banner .container .title img { width: 24px; height: 26px; }
  #title_banner .container .list { margin-top: 22px; gap: 8px; }
  #title_banner .container .list li a { font-size: 9px; letter-spacing: -0.5px;}

  .list-title { font-size: 13px; margin: 0 0 14px; letter-spacing: -1%;}
  .card  { width: 238px; height: 310px;}
  .card2 { width: 230px; height: 250px; }
  .name { font-size: 12px; height: 30px; margin: 0;}
  .price { font-size: 11px;}
  .txt_box { margin: 10px; gap: 4px; line-height: 1.2;}
  .section{height: 343px; margin: 20px 0 0; overflow: hidden;}
  .sub{font-size: 8px;}
  .card img{margin-bottom: 10px;}
  .txt{display: flex; flex-direction: column; align-items: start;  justify-content: center; margin: 15px 15px 0; gap: 5px;}
  .box{gap: 10px;}
  #popup_card .card{height: 300px;}

  #phone .container .box .card {gap: 15px;}
  #phone .container .box .card .txt h1 { font-size: 16px; }
  #phone .container .box .card img { width: 100%; height: auto; flex: 1; object-fit: contain; min-height: 0; margin: 10px 0; }
  #phone .container .box .card:nth-child(3) img{margin: 0px;}
  #phone .container .box .card .info { margin: 15px 15px 0; }
  #phone .container .box .card .info a { font-size: 11px; padding: 6px 12px; }

  #accessories .box .card:first-child h2 { font-size: 14px; margin: 40px auto; text-align: center; }

  #service .txt h2 { font-size: 15px; }
  #service .container .box .card:nth-child(1) .txt img { width: 18px; height: 20px; }
  #service .container .box .card:nth-child(2) .txt img { width: 24px; height: 18px; }
  #service .container .box .card .txt { margin: 2.5vw 0 0 3.6vw; }
  #service .box .card article { flex: 1; display: flex; align-items: center; justify-content: center; overflow: hidden; min-height: 0; }

  #popup_card .card2 img {
  margin: auto;
  }
  #popup_card{height: 370px; margin-bottom: 20px;}
  #popup_card .card{height: 280px; }
  #popup_card .card b      { font-size: 11px; }
  #popup_card .card strong { font-size: 15px; }
  #popup_card .card span   { font-size: 9px; }
  #popup_card .card i { font-size: 22px; bottom: 3vw; right: 3vw; }
}