/* banner */
#banner{
  width: 100%;
  height: 475px;
  background: url(../img/trifold.png) center/cover;
  position: relative;
}
#banner .container{
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#banner h1{
  color: #fff;
  font-size: 40px;
}
#banner h2{
  display: flex;
  color: #fff;
  font-weight: normal;
  font-size: 30px;
  margin: 9px 0 6px;
  justify-content: center;
}
#banner h2 img{
  height: 34px;
  margin-left: 6px;
}
#banner p{
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
#banner .btn{
  margin-top: 25px;
}
#banner .btn a{
  color: #fff;
  display: inline-block;
  padding: 8px 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  font-size: 12px;
  font-weight: normal;
}

/* items */
#items{
  width: 100%;
}
#items .container{
  padding: 30px 0;
  display: flex;
  gap: 10px;
}
#items .container .box {
  height: 330px;
  flex: 1;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#items .container .box a:first-child img{
margin: 0 auto;
}
#items .container .box a h2{
  font-size: 26px;
  color: #222;
  margin-bottom   : 20px;
  text-align: center;
}
#items .container .box a img{
  height: 171px;
}

/* banner_2 */
#banner_2{
  width: 100%;
  height: 470px;
  background: url(../img/zfold7.png) center/cover;
}
#banner_2 .container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#banner_2 .container .list{
  margin-top: 45px;
}
#banner_2 h1{
  color: #222;
  font-size: 40px;
}
#banner_2 h2{
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
  font-weight: normal;
}
#banner_2 h2 img{
  height: 34px;
  margin-left: 6px;
}
#banner_2 .btn{
  margin-top: 20px;
  margin-bottom: 16px;
}
#banner_2 .btn a{
  color: #222;
  padding: 6px 20px;
  border: 1px solid #222;
  border-radius: 20px;
  font-size: 12px;
}
#banner_2 h3{
  font-size: 33px;
}
#banner_2 p{
  margin-top: 20px;
  text-align: center;
  color: #666;
  font-size: 14px;
}

/* items_2 */
#items_2{
  width: 100%;
}
#items_2 .container{
  padding: 30px 0;
  display: flex;
  gap: 12px;
}
#items_2 .container .box {
  height: 330px;
  width: 291px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
#items_2 .container .box a{
  margin: auto;
}
#items_2 .container .box a h2{
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}
#items_2 .container .box a img{
  height: 165px;
  margin: 0 auto;
}
#items_2 .container .box:last-child a h2{
  margin-bottom: 13px;
}
#items_2 .container .box a .img4{
  height: 182px;
}


/* banner_3 */
#banner_3{
  width: 100%;
  height: 590px;
  background: url(../img/s25Edge.png) center/cover;
  position: relative;
}
#banner_3 .container{
  text-align: center;
  width: 100%;
  position: absolute;
  top: 196px;
}
#banner_3 .container .txt{
  display: flex;
  justify-content: center;
  gap: 428px;
}
#banner_3 .container .txt .left h1{
  font-size: 50px;
  margin-bottom: 10px;
}
#banner_3 .container .txt .left h2{
  font-size: 35px;
  display: flex;
  justify-content: center;
  font-weight: 300;
  margin-bottom: 12px;
}
#banner_3 .container .txt .left .btn a{
  padding: 10px 20px;
  border: 2px solid #222;
  border-radius: 40px;
  font-size: 15px;
}
#banner_3 .container .txt .left h2 img{
  height: 34px;
  margin-left: 6px;
}
#banner_3 .container .txt .right{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 50px;
  font-weight: 100;
}

/* layer_card */
#layer_card{
  width: 100%;
  height: 740px;
  position: relative;
}
#layer_card .container{
  margin-top: 90px;
}
#layer_card .container .title{
  margin-bottom: 70px;
  font-size: 40px;
}
#layer_card .container .box{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 24px;
  height: 490px;
}
#layer_card .container .box .card{
  width: 290px;
}
#layer_card .container .box .card a{
  background: #f4f4f4;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#layer_card .container .box .card h2{
  font-size: 22px;
  margin-top: 38px;
  margin-bottom: 67px;
}
#layer_card .container .box .card b{
  font-weight: 400;
  font-size: 13px;
  color: #666;
}
#layer_card .container .box .card p{
  font-size: 19px;
}
#layer_card .container .box .card img{
  height: 210px;
}
#layer_card .container .box .card:nth-child(5) img{
  height: 240px;
}
#layer_card .container .box .card:last-child img{
  height: 160px;
}

/* popup_card */
#popup_card {
  width: 100%;
  height: 645px;
  position: relative;
}
#popup_card .container .title{
  font-size: 50px;
  margin-bottom: 70px;
}
#popup_card .txtcard{
  position: absolute;
  display: flex;
  gap: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#popup_card .container .txtcard .card{
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 320px;
  height: 380px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#popup_card .container .txtcard .card .card-txt{
  margin: 25px 30px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#popup_card .container .txtcard .card b{
  font: bold 14px;
  color: #444;
}
#popup_card .container .txtcard .card strong{
  font: bold 22px;
}
#popup_card .container .txtcard .card span{
  font: normal 12px;
  color: #666;
}
#popup_card .container .txtcard .card:nth-child(1) img{
  width: 320px;
  position: absolute;
  bottom: 20px;
}
#popup_card .container .txtcard .card:nth-child(2)  img{
  width: 200px;
  position: absolute;
  right: 60px;
  bottom: 40px;
}
#popup_card .container .txtcard .card:nth-child(3)  img{
  width: 232px;
  position: absolute;
  right: 44px;
  bottom: 40px;
}
#popup_card .container .txtcard .card:nth-child(4)  img{
  width: 286px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#popup_card .container .txtcard .card:nth-child(5)  img{
  width: 206px;
  position: absolute;
  right: 58px;
  bottom: 0px;
}
#popup_card .container .txtcard .card i{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}

/* =============================================
   MEDIA QUERIES
   ============================================= */

/* 1024px — 태블릿 가로 */
@media screen and (max-width: 1024px) {
}

/* 657px — 대형 모바일 가로 */
@media screen and (max-width: 780px) {

}
/* 657px — 대형 모바일 가로 */
@media screen and (max-width: 657px) {
}

/* 481px — 스마트폰 */
@media screen and (max-width: 481px) {
}

/* 391px — 소형 스마트폰 */
@media screen and (max-width: 391px) {
}